/* * {font-family: 'Exo', sans-serif;  color: #FDFDFD} */

/*
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

} */

/* .theme--dark.v-content {
  padding: 100px !important;
}

.v-list{
  background: transparent;
}

.theme--light.v-system-bar {
  background: linear-gradient(30deg, #f27121, #e94057, #8a2387);
  color: white;
}

.g-icon {
  background: linear-gradient(30deg, #f27121, #e94057, #8a2387);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.default-gradient-item {
  background: -webkit-linear-gradient(30deg, #8a3c0c, #e94057, #8a2387);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trans {
  box-shadow: 0.1rem 0 0.3rem 0.1rem rgba(0, 0, 10, 0.6);
  border-radius: 2px;
  position: relative;
  background: inherit;
  overflow: hidden;
  height: 100%;
  margin: auto;
} */