@require '~vuetify/src/stylus/settings/_variables.styl';

.v-dialog {
  box-shadow: none !important;
}

.v-dialog.v-dialog--active .theme--dark.v-dialog.v-dialog--active .v-dialog:not(.v-dialog--fullscreen) .v-dialog__content .v-dialog__content--active {
  box-shadow: none !important;
}
